<%- include('./partials/header.ejs') %>
<div class="landing-page">
  <img class="birds" src="/img/birdsFlying.png" />
  <div class="landing-page-about">
    <h1>Let your words take <i>flight</i></h1>
    <h2>A place where good ideas find you</h2>
    <a href="/signup" class="start-blogging-button"> Start Blogging </a>
    <p>It's Free. Yes, Really!</p>
  </div>
</div>
<%- include('./partials/footer.ejs') %>
