<div class="login-page">
  <div class="login-container">
    <div class="login-page-header">
      <h1>Welcome Back</h1>
      <h4>New Here ? <a href="/signup">Sign up</a> and get started.</h4>
    </div>
    <form action="none">
      <input type="email" placeholder="Email">
      <input type="password" placeholder="Set Password">
      <button>Log in</button>
    </form>
  </div>
</div>