<div class="search-res">
  <h2 class="search-res-heading">Search Results</h2>
</div>

<section class="articles">
  <div class="blog-list">
    <% data.forEach(post => { %>
   
      <a href="/post/<%= post._id %>">
        <div class="blog-element">
          <div class="blog-info">
            <h1><%= post.title %></h1>
          </div>
          <h4 class="blog-element-date"><%= post.createdAt.toDateString() %></h4>
        </div>
      </a>

      <% }) %>
  </div>
</section>